@import '../../styles/mixin.moudel.scss';
.container {
  height: 37px;
  width: 180px;
  position: relative;
  & .input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--gray1);
    outline: none;
    border: none;
    padding-left: 45px;
    transition: .2s;
    &::placeholder{
        color: var(--gray3);
    }
    &:hover{
        background-color: var(--gray2);
        &::placeholder{
            color: var(--gray4);
        }
    }
  }
  & .iconContainer{
    @include flex;
    justify-content: center;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    &:hover{
        background-color: var(--gray2);

    }
  }
}
