@import '../../../styles/mixin.moudel.scss' ;
.container{
    @include flex;
    justify-content: center;
    height: 100%;
    padding: 10px;
    user-select: none;
    border-bottom: 2px solid transparent;
    transition: .2s;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid var(--black);
    }
}